{% extends "index.html" %}

{% block content %}
  <div class="client-list">
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Client Code</th>
          <th>No. of Contacts</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.client_code }}</td>
            <td>{{ client.contacts | length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
