.custom-dropdown {
  position: relative;
}

.dropdownContainer {
  position: absolute;
  top: -150px;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 10;
}

.checkboxList {
  max-height: 150px;
  overflow-y: auto;
}

.showDropdownButton {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.showDropdownButton:hover {
  background-color: #45a049;
}
